body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}

header h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

#preview video {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}